# Secrets
.env
*.env
!.env.example

#Caddy
caddy/data
caddy/config

#BookOrbit
bookorbit/app-data/
bookorbit/postgres/
bookorbit/backups/

#Navidrome
navidrome/data/
navidrome/cache/

#Audiobookshelf
audiobookshelf/config/
audiobookshelf/metadata/

#Logs
logs/
*.log

#Temporary files
tmp/
temp/
.cache/

#IDE
.vscode/
.idea/

#OS
.DS_Store
Thumbs.db

