NODE_ENV=production

APP_URL=https://
CLIENT_URL=https://
PORT=3000

POSTGRES_HOST=bookorbit-db
POSTGRES_PORT=5432
POSTGRES_USER=bookorbit
POSTGRES_PASSWORD=ТВОЙ_ПАРОЛЬ
POSTGRES_DB=bookorbit

JWT_SECRET=ТВОЙ_JWT_SECRET
SETUP_BOOTSTRAP_TOKEN=ТВОЙ_BOOTSTRAP_TOKEN

PUID=1000
PGID=1000

NODE_MAX_OLD_SPACE_SIZE=2048
BOOK_DOCK_PATH=/books/BookDock

LOG_LEVEL=info
PGDATA=/var/lib/postgresql/data/pgdata
TZ=Europe/Moscow